.title_box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_logo img{
    width: 50px;
    height: 50px;
}

.icon_box_1{
    display: flex;
    justify-content: center;
}
.icon_box_1 input{
    width: 50px;
    height: 50px;
}
.icon_box_1 button{
    width: 50px;
    height: 10px;
}

.icon_box_2{
    display: flex;
    justify-content: center;
}
.icon_box_2 input{
    width: 50px;
    height: 50px;
}

.icon_box_3{
    display: flex;
    justify-content: center;
}
.icon_box_3 input{
    width: 50px;
    height: 50px;
}

.icon_box_4{
    display: flex;
    justify-content: center;
}
.icon_box_4 input{
    width: 50px;
    height: 50px;
}

.icon_box_5{
    display: flex;
    justify-content: center;
}
.icon_box_5 input{
    width: 50px;
    height: 50px;
}

.icon_box_6{
    display: flex;
    justify-content: center;
}
.icon_box_6 input{
    width: 50px;
    height: 50px;
}
